<label for="Note">Subject</label>
<input id="subject" type="text" name="subject" value="<%=@note.try(:subject)%>">
<br>
<label for="Note">Text</label>
<textarea id="note" name="text" value="<%=@note.try(:text)%>"></textarea>
<br>
<input type="submit">